<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload</button>
<div class="modal fade" id="uploadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" (keyup.Enter)='upload()'>
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
        <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid" *ngIf="file!=''" style="padding-bottom: 10px">
          <img src="{{file}}" class="img-fluid img-thumbnail">
        </div>
        <div class="input-group mb-3" style="padding: 0px 20px;">
          <input type="file" accept="image/*" class="form-control" (change)="fileChanged($event)" [(ngModel)]="filePath">
        </div>
        <app-tag-list [tags]=tags [loggedIn]=true (onChange)=tagListHandler($event)></app-tag-list>
      </div>
      <div class="modal-footer">
        <button (click)="close()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="upload()" type="button" class="btn btn-primary" [disabled]="filePath === ''|| tags.length < 1">Upload</button>
      </div>
    </div>
  </div>
</div>
