<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload</button>
<div class="modal fade" id="uploadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid" *ngIf="file!=''">
          <img src="{{file}}" class="img-fluid img-thumbnail">
        </div>
        <div class="input-group mb-3">
          <input [formControl]="fileControl" type="file" accept="image/*" class="form-control" (change)="fileChanged($event)">
        </div>
        <div class="input-group">
          <span class="input-group-text">Tags</span>
          <textarea [formControl]="tagControl" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="upload()" type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>
