<div class="modal fade" id="GalleryModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" (keyup.Enter)='updateTags()'>
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{{backendpath}}/img/{{image._id}}" style="width:100%; max-height=80%">
        <app-tag-list [tags]=newTags [loggedIn]=loggedIn (onChange)=tagListHandler($event)></app-tag-list>
      </div>
      <div class="modal-footer justify-content-between">
        <button class="btn btn-danger ml-1" type="button" *ngIf='loggedIn' (click)='deleteImage()' data-bs-dismiss="modal">Delete</button>
        <button class="btn btn-primary" type="button" *ngIf='loggedIn' [disabled]="!changed" (click)="updateTags()">Save</button>
      </div>
    </div>
  </div>
</div>
